@font-face
{
	font-family:'ClearSans';
	src: url('ClearSans-Regular.eot');
	src: url('ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
			 url('ClearSans-Regular.woff') format('woff'),
			 url('ClearSans-Regular.ttf') format('truetype'),
			 url('ClearSans-Regular.svg#Clear Sans-Regular') format('svg');
}
.jqx-widget-content-uuTheme{border-color: #a4bed4;}
.jqx-fill-state-normal-uuTheme, .jqx-widget-header-uuTheme{border-color:#a4bed4; background-color:#e0e9f5}
.jqx-fill-state-hover-uuTheme{border-color:#a4bed4;  background-color:#cfdde9}
.jqx-fill-state-pressed-uuTheme{border-color:#5e8cb3; background-color:#cfdde9}
.jqx-fill-state-focus-uuTheme { border-color: #477396; }
.jqx-scrollbar-state-normal-uuTheme, .jqx-grid-bottomright-uuTheme, .jqx-panel-bottomright-uuTheme, .jqx-listbox-bottomright-uuTheme{background-color:#e0e9f5}
.jqx-widget-uuTheme .jqx-grid-column-header-uuTheme, .jqx-grid-cell-uuTheme, .jqx-widget-uuTheme .jqx-grid-cell-uuTheme, .jqx-widget-uuTheme .jqx-grid-group-cell-uuTheme, .jqx-grid-group-cell-uuTheme{border-color:#a4bed4}
.jqx-tabs-title-selected-bottom-uuTheme, .jqx-tabs-selection-tracker-bottom-uuTheme, .jqx-tabs-title-selected-top-uuTheme, .jqx-tabs-selection-tracker-top-uuTheme{border-color:#a4bed4; border-bottom:1px solid #fff; background:#fff}
.jqx-grid-cell-sort-alt-uuTheme, .jqx-grid-cell-filter-alt-uuTheme, .jqx-grid-cell-pinned-uuTheme, .jqx-grid-cell-alt-uuTheme, .jqx-grid-cell-sort-uuTheme{ background-color:#e7eef8}
.jqx-grid-cell-selected-uuTheme{ background-color:#cfdde9 !important;  color:#2b465e !important;}
.jqx-grid-cell-hover-uuTheme{ background-color:#cfdde9 !important;}
.jqx-menu-vertical-uuTheme{background: #e0e9f5;}.jqx-widget-uuTheme
{
  font-family: Clear Sans,Arial,sans-serif;
}
.jqx-widget-content-uuTheme
{
  color: #212121;
  text-shadow: none;
  border-color: #D9D9D9;
  background: #ffffff;
  font-family: Clear Sans,Arial,sans-serif;
}
.jqx-widget-header-uuTheme, .jqx-grid-uuTheme .jqx-widget-header-uuTheme
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #4B93D7;
  background-color: #5AA2E7;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Clear Sans,Arial,sans-serif;
}
.jqx-grid-column-menubutton-uuTheme, .jqx-widget-uuTheme.jqx-grid-column-menubutton-uuTheme
{
  border-color: #4B93D7;
}
.jqx-grid-cell-uuTheme, .jqx-widget-uuTheme .jqx-grid-cell-uuTheme
{
  background-color: #ffffff;
  color: #212121;
  text-shadow: none;
}
.jqx-fill-state-normal-uuTheme
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #4B93D7;
  background-color: #5AA2E7;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Clear Sans,Arial,sans-serif;
}
.jqx-button-uuTheme
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #5AA2E7;
  background-color: #5AA2E7;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Clear Sans,Arial,sans-serif;
}
.jqx-grid-selectionarea-uuTheme
{
  border-color: #4B93D7;
  background-color: #5AA2E7;
}
.jqx-widget-uuTheme .jqx-grid-cell-sort-uuTheme, .jqx-widget-uuTheme .jqx-grid-cell-filter-uuTheme, .jqx-widget-uuTheme .jqx-grid-cell-pinned-uuTheme, .jqx-grid-cell-sort-uuTheme, .jqx-grid-cell-filter-uuTheme, .jqx-grid-cell-pinned-uuTheme
{
  background-color: #F4F4F4;
  color: #212121;
  text-shadow: none;
}
.jqx-widget-uuTheme .jqx-grid-cell-alt-uuTheme, .jqx-widget-uuTheme .jqx-grid-cell-sort-alt-uuTheme, .jqx-widget-uuTheme .jqx-grid-cell-pinned-alt-uuTheme, .jqx-widget-uuTheme .jqx-grid-cell-filter-alt-uuTheme, .jqx-grid-cell-alt-uuTheme, .jqx-grid-cell-sort-alt-uuTheme, .jqx-grid-cell-filter-alt-uuTheme
{
  background-color: #F4F4F4;
  color: #212121;
  text-shadow: none;
}
.jqx-fill-state-hover-uuTheme, .jqx-widget-uuTheme .jqx-grid-cell-hover-uuTheme
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #5276C1;
  background-color: #5276C1;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Clear Sans,Arial,sans-serif;
}
.jqx-fill-state-pressed-uuTheme, .jqx-widget-uuTheme .jqx-grid-cell-selected-uuTheme
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #6CBD49;
  background-color: #6CBD49;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Clear Sans,Arial,sans-serif;
}
.jqx-switchbutton-label-on-uuTheme
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #6CBD49;
  background-color: #6CBD49;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-uuTheme, .jqx-tabs-selection-tracker-top-uuTheme
{
  color: #212121;
  text-shadow: none;
  border-color: #D9D9D9;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-uuTheme, .jqx-tabs-selection-tracker-bottom-uuTheme
{
  color: #212121;
  text-shadow: none;
  border-color: #D9D9D9;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-uuTheme
{
  background: #5276C1;
}
.jqx-splitter-splitbar-vertical-uuTheme, .jqx-splitter-splitbar-horizontal-uuTheme, .jqx-slider-track-horizontal-uuTheme, .jqx-slider-track-vertical-uuTheme
{
  background: #5AA2E7;
}
.jqx-splitter-collapse-button-horizontal-uuTheme, .jqx-splitter-collapse-button-vertical-uuTheme, .jqx-slider-rangebar-uuTheme
{
  background: #6CBD49;
}
.jqx-scrollbar-state-normal-uuTheme
{
  background-color: #F4F4F4;
  border-color: #D9D9D9;
}
.jqx-grid-bottomright-uuTheme, .jqx-panel-bottomright-uuTheme, .jqx-listbox-bottomright-uuTheme
{
  background-color: #F4F4F4;
}
.jqx-scrollbar-thumb-state-normal-uuTheme
{
  background-color: #8E99A1;
}
.jqx-scrollbar-thumb-state-normal-horizontal-uuTheme
{
  background-color: #8E99A1;
}
.jqx-scrollbar-thumb-state-hover-uuTheme
{
  background-color: #5276C1;
  border-color: #5276C1;
}
.jqx-scrollbar-thumb-state-hover-horizontal-uuTheme
{
  background-color: #5276C1;
  border-color: #5276C1;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-uuTheme
{
  background-color: #6CBD49;
  border-color: #6CBD49;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-uuTheme
{
  background-color: #6CBD49;
  border-color: #6CBD49;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-uuTheme
{
  background-color: #F4F4F4;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-uuTheme
{
  background-color: #5276C1;
  border-color: #5276C1;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-uuTheme
{
  background-color: #6CBD49;
  border-color: #6CBD49;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-uuTheme
{
  background: #212121;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-uuTheme
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-radius-topleft: 3px;
  border-radius-topleft: 3px;
}
.jqx-rc-tr-uuTheme
{
  -moz-border-radius-topright: 3px;
  -webkit-border-radius-topright: 3px;
  border-radius-topright: 3px;
}
.jqx-rc-bl-uuTheme
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius-bottomleft: 3px;
  border-radius-bottomleft: 3px;
}
.jqx-rc-br-uuTheme
{
  -moz-border-radius-bottomright: 3px;
  -webkit-border-radius-bottomright: 3px;
  border-radius-bottomright: 3px;
}
.jqx-rc-t-uuTheme
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.jqx-rc-b-uuTheme
{
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-r-uuTheme
{
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.jqx-rc-l-uuTheme
{
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.jqx-radiobutton-default-uuTheme, .jqx-radiobutton-uuTheme, .jqx-radiobutton-check-checked-uuTheme, .jqx-radiobutton-hover-uuTheme, .jqx-radiobutton-check-indeterminate-uuTheme, .jqx-radiobutton-check-indeterminate-disabled-uuTheme, .jqx-slider-button-uuTheme
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-uuTheme, .jqx-tooltip-uuTheme, .jqx-tooltip-text-uuTheme, .jqx-tooltip-main-uuTheme
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.jqx-grid-column-sortascbutton-uuTheme, .jqx-expander-arrow-bottom-uuTheme, .jqx-window-collapse-button-uuTheme, .jqx-menu-item-arrow-up-uuTheme, .jqx-menu-item-arrow-top-up-uuTheme, .jqx-icon-arrow-up-uuTheme
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-arrow-up-hover-uuTheme
{
  background-image: url('images/icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-uuTheme, .jqx-icon-arrow-up-selected-uuTheme.jqx-expander-arrow-expanded-uuTheme
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-uuTheme, .jqx-grid-column-sortdescbutton-uuTheme, .jqx-expander-arrow-top-uuTheme, .jqx-window-collapse-button-collapsed-uuTheme, .jqx-menu-item-arrow-down-uuTheme, .jqx-menu-item-arrow-down-uuTheme, .jqx-tree-item-arrow-expand-uuTheme, .jqx-grid-group-expand-uuTheme, .jqx-widget-uuTheme .jqx-grid-group-expand-uuTheme, .jqx-icon-arrow-down-uuTheme
{
  background-image: url('images/icon-down-white.png');
}
.jqx-icon-arrow-down-hover-uuTheme
{
  background-image: url('images/icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-uuTheme, .jqx-icon-arrow-down-selected-uuTheme
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-uuTheme, .jqx-menu-item-arrow-top-left-uuTheme, .jqx-grid-group-collapse-rtl-uuTheme, .jqx-widget-uuTheme .jqx-grid-group-collapse-rtl-uuTheme, .jqx-icon-arrow-left-uuTheme, .jqx-icon-arrow-down-left-uuTheme
{
  background-image: url('images/icon-left-white.png');
}
.jqx-icon-arrow-left-hover-uuTheme
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-vertical-uuTheme
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-uuTheme, .jqx-icon-arrow-left-selected-uuTheme
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tabs-arrow-right-uuTheme, .jqx-menu-item-arrow-top-right-uuTheme, .jqx-menu-item-arrow-collapse-uuTheme, .jqx-grid-group-collapse-uuTheme, .jqx-widget-uuTheme .jqx-grid-group-collapse-uuTheme, .jqx-icon-arrow-right-uuTheme
{
  background-image: url('images/icon-right-white.png');
}
.jqx-icon-arrow-right-hover-uuTheme
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-uuTheme, .jqx-icon-arrow-right-selected-uuTheme
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-uuTheme, .jqx-tabs-close-button-uuTheme, .icon-close-uuTheme
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-uuTheme
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-uuTheme
{
  background-image: url('images/close_white.png');
}
.jqx-widget-uuTheme .jqx-grid-column-header-uuTheme, .jqx-widget-uuTheme .jqx-grid-cell-uuTheme, .jqx-widget-uuTheme .jqx-grid-group-cell-uuTheme, .jqx-grid-cell-uuTheme
{
  border-color: #D9D9D9;
}
.jqx-checkbox-check-checked-uuTheme
{
  background-image: url('images/check_white.png');
}
.jqx-checkbox-check-indeterminate-uuTheme
{
  background-image: url('images/check_indeterminate_white.png');
}
.jqx-tooltip-uuTheme, .jqx-tooltip-main-uuTheme
{
  color: #212121;
  text-shadow: none;
  border-color: #D9D9D9;
  background-color: #FFFFFF;
}
.jqx-combobox-content-uuTheme, .jqx-input-uuTheme
{
  color: #212121;
  text-shadow: none;
  border-color: #D9D9D9;
  background-color: #ffffff;
}
.jqx-combobox-input-uuTheme
{
  color: #212121;
  text-shadow: none;
}
.jqx-input-content-uuTheme
{
  color: #212121;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-uuTheme, .jqx-popup-uuTheme .jqx-fill-state-focus-uuTheme
{
  border-color: #6CBD49;
}
.jqx-popup-uuTheme.jqx-listbox-uuTheme, .jqx-popup-uuTheme.jqx-calendar-uuTheme,.jqx-menu-dropdown-uuTheme,  .jqx-popup-uuTheme.jqx-dropdownbutton-popup-uuTheme
{
  color: #212121;
  text-shadow: none;
  border-color: #D9D9D9;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-uuTheme, .jqx-tree-item-arrow-collapse-uuTheme
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-uuTheme
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-uuTheme
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-up-uuTheme
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-left-uuTheme
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-right-uuTheme
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-bottom-uuTheme
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-up-hover-uuTheme
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-left-hover-uuTheme
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-right-hover-uuTheme
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-bottom-hover-uuTheme
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-up-selected-uuTheme
{
  background-image: url('images/icon-up-white.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-left-selected-uuTheme
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-right-selected-uuTheme
{
  background-image: url('images/icon-right-white.png');
}
.jqx-scrollbar-uuTheme .jqx-icon-arrow-bottom-selected-uuTheme
{
  background-image: url('images/icon-bottom-white.png');
}
.jqx-calendar-uuTheme .jqx-icon-arrow-up-uuTheme, .jqx-tabs-header-uuTheme .jqx-icon-arrow-up-uuTheme
{
}
.jqx-calendar-uuTheme .jqx-icon-arrow-left-uuTheme, .jqx-tabs-header-uuTheme .jqx-icon-arrow-left-uuTheme
{
}
.jqx-calendar-uuTheme .jqx-icon-arrow-right-uuTheme, .jqx-tabs-header-uuTheme .jqx-icon-arrow-right-uuTheme
{
}
.jqx-calendar-uuTheme .jqx-icon-arrow-bottom-uuTheme, .jqx-tabs-header-uuTheme .jqx-icon-arrow-bottom-uuTheme
{
}
.jqx-widget-uuTheme .jqx-grid-cell-uuTheme, .jqx-listitem-state-normal-uuTheme, .jqx-menu-item-normal-uuTheme, .jqx-tree-item-normal-uuTheme, .jqx-calendar-cell-uuTheme, .jqx-grid-cell-uuTheme,.jqx-menu-vertical-uuTheme .jqx-menu-item-top-normal-uuTheme, .jqx-input-popup-uuTheme .jqx-fill-state-normal-uuTheme
{
  font-family: Clear Sans,Arial,sans-serif;
}
.jqx-widget-uuTheme .jqx-grid-cell-hover-uuTheme, .jqx-listitem-state-hover-uuTheme, .jqx-menu-item-hover-uuTheme, .jqx-tree-item-hover-uuTheme, .jqx-calendar-cell-hover-uuTheme, .jqx-grid-cell-hover-uuTheme,.jqx-menu-vertical-uuTheme .jqx-menu-item-top-hover-uuTheme, .jqx-input-popup-uuTheme .jqx-fill-state-hover-uuTheme,.jqx-input-button-header-uuTheme, .jqx-input-popup-uuTheme .jqx-fill-state-pressed-uuTheme,.jqx-input-button-header-uuTheme
{
  font-family: Clear Sans,Arial,sans-serif;
}
.jqx-widget-uuTheme  .jqx-grid-cell-selected-uuTheme, .jqx-listitem-state-selected-uuTheme, .jqx-menu-item-selected-uuTheme, .jqx-tree-item-selected-uuTheme, .jqx-calendar-cell-selected-uuTheme, .jqx-grid-cell-selected-uuTheme,.jqx-menu-vertical-uuTheme .jqx-menu-item-top-selected-uuTheme, .jqx-grid-selectionarea-uuTheme
{
  font-family: Clear Sans,Arial,sans-serif;
}
.jqx-icon-calendar-uuTheme
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-hover-uuTheme
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-uuTheme
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-uuTheme
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-hover-uuTheme
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-selected-uuTheme
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-last-uuTheme
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-hover-uuTheme
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-selected-uuTheme
{
  background-image: url('images/icon-last-white.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-uuTheme>.jqx-grid-group-expand-uuTheme
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-hover-uuTheme>.jqx-grid-group-expand-uuTheme
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-selected-uuTheme>.jqx-grid-group-expand-uuTheme
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-uuTheme>.jqx-grid-group-collapse-uuTheme
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-hover-uuTheme>.jqx-grid-group-collapse-uuTheme
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-selected-uuTheme>.jqx-grid-group-collapse-uuTheme
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-uuTheme>.jqx-grid-group-expand-rtl-uuTheme
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-hover-uuTheme>.jqx-grid-group-expand-rtl-uuTheme
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-selected-uuTheme>.jqx-grid-group-expand-rtl-uuTheme
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-uuTheme>.jqx-grid-group-collapse-rtl-uuTheme
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-hover-uuTheme>.jqx-grid-group-collapse-rtl-uuTheme
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-cell-uuTheme.jqx-grid-cell-selected-uuTheme>.jqx-grid-group-collapse-rtl-uuTheme
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-uuTheme, .jqx-grid-column-sortdescbutton-uuTheme
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-column-sortascbutton-uuTheme
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-delete-uuTheme
{
  background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-uuTheme
{
  background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-uuTheme
{
  background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-uuTheme
{
  background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-uuTheme
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-uuTheme
{
  background-image: url('images/icon-plus_white.png');
}
