/* jqxWidgets use a lot of JS-generated inline styles and their css use a lot of importants.
 * So we have to use them as well...
 */

body {
    font-family: "Clear Sans";
}

.uuDataTableErrorMsg {
    height: 50px;
    width: 300px;
    background-color: red;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 10px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 25px);
}

/* data */
.jqx-grid-cell-selected-uuTheme {
    color: #5AA2E7 !important;/*#fff !important;*/
}

.jqx-grid-table .jqx-grid-cell.editableUUCell {
    position: relative !important;
}

.editableUUCell:before {
    content: url('../assets/css/jquery-widgets/images/icon-right-uublue.png');
    position: absolute;
    top: 5px;
    left: 2px;
}

.jqx-widget-uuTheme .sumUUCell {
    color: #5AA2E7;
    font-weight: 600;
}

.jqx-widget-uuTheme .jqx-grid-cell-hover-uuTheme.sumUUCell {
    color: #fff;
}

/* header */
.jqx-widget-header-uuTheme {
    font-weight: 600;
}

div.jqx-input-group-addon {
    background-color: #79b4ec;
}

.jqx-icon-search-uuTheme {
    background-image: url('../assets/css/jquery-widgets/images/search_white.png');
    margin-top: 0;
}

.jqx-icon-close-uuTheme {
    background-image: url('../assets/css/jquery-widgets/images/close_white.png');
    margin-top: 1px !important;
}

.jqx-input-group .jqx-input {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

#filterwidgetTable .jqx-input {
    height: 19px !important;
}

.jqx-input-group-uuTheme {
    margin: 5px !important;
}

.jqx-input-group-addon-uuTheme {
    height: 19px !important;
}

#filterwidgetTable > div:first-child {
    font-weight: 600;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.stateTypeFilterBtn {
    margin: 5px 15px 5px 15px;
    height: 19px;
    float: right;
    cursor: pointer;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#filterwidgetTable .stateTypeFilterBtn {
    border-left-width: 1px;
    border-radius: 3px !important;
}

/* footer */
#statusrowwidgetTable .aggregateLabel {
    float: left;
}

#statusrowwidgetTable .aggregateCell, #statusrowwidgetTable .aggregateLabel {
    color: #fff;
    font-weight: 600;
    padding: 6px 4px 4px 4px;
}

#statusrowwidgetTable div {
    background-color: #5AA2E7;
    border-width: 0;
}

div.noFilterBtn {
    background-color: #A8C1D7;
    border-color: #808080;
}

div.finalFilterBtn {
    background-color: #6cbd49;
    border-color: #3E7029;
}

.server-ok-notification, .server-err-notification {
    font-weight: 600;
    width: 90px;
    float: left;
    margin-left: 5px;
}

.server-ok-notification {
    background-color: #6cbd49;
    border-color: #3E7029;
}

.server-err-notification {
    background-color: #FF3732;
    border-color: #cc0500;
}


.server-ok-notification:first-child, .server-err-notification:first-child {
    margin-left: 0;
}

.jqx-notification-container {
    position: static;
    float: left;
}

.jqx-notification-close-button-ltr {
    right: -5px;
    top: -5px;
}

.jqx-notification {
    padding-top: 3px;
    padding-left: 8px;
}